body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30%;
  box-sizing: border-box;
}

#canvas {
  transform: scale(2);
  transform-origin: 50% 0;
  image-rendering: pixelated;
}

.controls__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__wrap button {
  width: 64px;
  height: 64px;
}

.controls__wrap-lr {
  width: 190px;
  display: flex;
  justify-content: space-between;
}
